.camisetas {
  display: flex;
  margin-top: 0px;
  flex-direction: row;
}
.espacio {
  width: 25%;
  margin-right: 3%;
  margin-top: 40px;
}
.centrado {
  text-align: center;
  flex-direction: column;
  display: flex;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: orangered;
}
.negrita {
  font-weight: bold;
  margin-top: 30px;
  align-content: space-between;
}
.horizontal {
  display: flex;
  font-size: 11px;
  justify-content: space-between;
  font-family: sans-serif;
  border-top: 0.1rem;
  border-top-style: solid;
  border-top-color: rgba(213, 217, 219, 0.397);

  margin-bottom: 27px;
}
.horizontal1 {
  margin-bottom: 10px;
  border-top: 0.1rem;
  border-top-style: solid;
  border-top-color: rgb(213 217 219 / 83%);
  display: inline;
}
.ropa {
  width: 100%;
  display: flex;
}
.icono {
  width: 15px;
}
.difuminado {
  border-color: grey;
  margin-top: 40px;
}
.titulo {
  margin-bottom: 15px;
  margin-top: 40px;
  font-family: fantasy;
  color: black;
  margin-left: 177px;
}
.letra {
  font-weight: 100;
  color: black;
}
.letra2 {
  color: black;
  text-align: center;
}
.difuminado2 {
  display: flex;
  justify-content: space-around;
}
.precio {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: indigo;
}
.caja {
  border-top: 0.1rem;
  border-top-style: solid;
  border-top-color: rgba(213, 217, 219, 0.397);
  text-align: center;
}

.terminos {
  display: flex;
  justify-content: space-between;
  margin-left: 48px;
}
.buton {
  justify-content: space-evenly;
  margin-left: 63px;
  margin-top: -10px;
}
.nav__bar {
  display: flex;
  justify-content: space-between;
}
.username {
  width: 190px;
  height: 25px;
  margin-left: 10%;
  border-bottom: 0.1rem;
  border-bottom-style: solid;
  border-bottom-color: rgba(213, 217, 219, 0.397);
  text-align: left;
  color: black;
}
.list__left {
  display: flex;
  justify-content: space-between;
  font-family: system-ui;
}
.men__list {
  margin-right: 30px;
  color: blue;
  margin-left: 26px;
}
.women__list {
  color: darkorange;
}
.list__nav__bar {
  position: absolute;
  list-style: none;
}
.list__two {
  list-style: none;
  color: black;
}
.user__img {
  height: 30px;
  /* margin-top: 48px; */
}
.nav__right {
  text-align: right;
  display: flex;
  align-items: end;
}
.icon__cesta {
  height: 27px;
}
.submit {
  margin-right: 40px;
  font-family: system-ui;
  font-size: 20px;
}
