body {
        background: linear-gradient(
          90deg,
          rgb(94, 189, 85) 0%,
          rgb(108, 209, 240) 54%,
          hwb(27 2% 19% / 0.966) 82%
          /* hwb(28 25% 69% / 0.966) 82% */
        )
      
      }
  
  .container {
    padding: 40px;
    margin: 0 auto;
  }
  h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 54px;
  }
  .card {
        list-style: none;
    padding: 40px;
    background-color: #f4f4f4;
    color: #222;
    text-align: center;
    border-left: 82px;
    border-radius: 100%;
    
    
  }
  .card-title {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 0;
  }
  .card-subtitle {
    font-weight: lighter;
    color: #666;
    margin-top: 5px;
  }
  .card-image {
    height: 180px;
   
  }
  #pokedex {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
    
  }
  /* .card:hover {
    animation: bounce 0.5s linear;
  } */

  .animation {
    animation: bounce 0.5s linear;
  }

  .flip-card {
    transform: rotateY(360deg);
    transition: transform 1s;
  }
  .flip-card2 {
    transform: rotateY(360deg);
    transition: transform 1s;
    transition-delay: 3s;
  }
  @keyframes bounce {
    20% {
      transform: translateY(-30px);
    }
    40% {
      transform: translateY(0px);
    }
    60% {
      transform: translateY(-2px);
    }
    80% {
      transform: translateY(-0px);
    }
  }
  


  .width {
    display: flex;
    width: 100%;
    justify-content: center;
  }


  .spinner,.spinner:after{
    display: block;
    width: 100px;
    height: 100px;
    background-size: 100px 100px;
    border-radius: 50%;
 }
.spinner {
  background-image: url('https://webstockreview.net/images/pikachu-clipart-png-icon.jpg');
    /* background-color: violet; */
    /* border-top: 5px solid rgb(66,139,202); */
    /* border-right: 5px solid rgb(66,139,202); */
    /* border-bottom: 5px solid rgb(66,139,202); */
    /* border-left: 5px solid rgba(66,139,202,.2); */
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 1.5s;
    animation-name: spinner-loading
 }
@keyframes spinner-loading{
  0% {
      transform: rotate(0deg)
  } to {
      transform: rotate(1turn)
  }
}
.return{
  margin-left: 922px;
  margin-bottom: 65px;
}