body {
        background: linear-gradient(
          90deg,
          rgb(94, 189, 85) 0%,
          rgb(108, 209, 240) 54%,
          hwb(27 2% 19% / 0.966) 82%
      
        )
      
      }
  
  .container {
    padding: 40px;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 54px;
    margin-bottom: 10px;
  }
  .card {
        list-style: none;
    padding: 20px;
    background-color: #f4f4f4;
    color: rgb(28, 28, 31);
    text-align: center;
    border-left: 82px;
    border-radius: 15%;
    display: flex;
    box-shadow: 5px 5px 15px -6px #000000;
    flex-direction: column;
    margin: 40px 5px;
    width: 200px;
    
}
    
  
  .card-title {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 0;
    font-family:fantasy;
    /* margin-right: 14px; */
      }
  .card-subtitle {
    font-weight: lighter;
    color: rgb(38, 77, 184);
    margin-top: 5px;
    font-family: cursive;
    font-size: 20px;
    text-transform: capitalize;
  }
  .card-image {
    scale: 135;
   
  }
  #pokedex {
    padding-inline-start: 0;
    grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
    grid-gap: 40px;
    display: grid;
    align-content: space-around;
    justify-content: center;
    display: grid;
    align-items: center;
    justify-items: stretch;
  }


  .animation {
    animation: bounce 0.5s linear;
  }

  /* .flip-card {
    transform: rotateY(360deg);
    transition: transform 1s;
  }
  .flip-card2 {
    transform: rotateY(360deg);
    transition: transform 1s;
    transition-delay: 3s;
  } */
  @keyframes bounce {
    20% {
      transform: translateY(-30px);
    }
    40% {
      transform: translateY(0px);
    }
    60% {
      transform: translateY(-2px);
    }
    80% {
      transform: translateY(-0px);
    }
  }
  


  .width {
    display: flex;
    width: 100%;
    justify-content: center;
  }


  .spinner,.spinner:after{
    display: block;
    width: 100px;
    height: 100px;
    background-size: 100px 100px;
    border-radius: 50%;
 }
.spinner {
  background-image: url('https://webstockreview.net/images/pikachu-clipart-png-icon.jpg');
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 1.5s;
    animation-name: spinner-loading;
 }
@keyframes spinner-loading{
  0% {
      transform: rotate(0deg)
  } to {
      transform: rotate(1turn)
  }
}
.return{
  margin-left: 730px;
  margin-bottom: 65px;
}
.pokegame{
width: 10px;

}